.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
}


.container {
  background: linear-gradient(90deg, rgb(251, 251, 255) 0%, rgb(223, 245, 242) 35%, rgb(197, 235, 243) 100%);
  border: 5px dotted rgb(49, 122, 128);
  border-radius: 50px;
}




.App-header {
  margin: 30px 0;
  text-align: center;
  color: rgb(106, 193, 214);
  font-weight: bold;
  font-size: 50px;
}



.App-footer {
  text-align: center;
  margin: 60px 0;
  
}

.text-center {
  color:rgb(133, 180, 164);
  margin: 60px 0;
  font-size: 30px;
  font-weight: bold;
}